@using Web_CSV_Json_XML_reader.ViewModels;
@model ChangePasswordViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Вход</title>
</head>
<body>
    <h2 class="centered">Изменение пароля</h2>
    <div class="centered">
        <div class="card card-body">
            @if ((Model != null) && (!string.IsNullOrEmpty(Model.errorMessage)))
            {
                <div class="alert alert-danger" role="alert">
                    <span>@Model.errorMessage</span>
                </div>
            }
            <form class="row g-3 needs-validation" novalidate name="changePasswordForm" method="post" action="/Account/SetNewPassword">
                <div class="input-group mb-3">
                    <input class="form-control" id="validationLoginPassword" value="@Model?.oldPassword" style="width:100%;" placeholder="Введите ваш текущий пароль" type="password" name="oldPassword" required                        />
                    <div class="invalid-feedback" id="LoginPasswordError"></div>
                    <br>
                </div>
                <div class="input-group mb-3">
                    <input class="form-control" id="validationRegisterPassword" value="@Model?.newPassword" style="width:100%;" placeholder="Введите новый пароль, он должен содержать не менее 6 символов" type="password" name="newPassword" required />
                    <div class="invalid-feedback" id="passwordRegisterError"></div><br>
                </div>
                <div class="input-group mb-3">
                    <input class="form-control" id="validationRegisterPasswordRepeat" value="@Model?.newPasswordRepeat" style="width:100%;" placeholder="Повторите ваш новый пароль" type="password" name="newPasswordRepeat" required />
                    <div class="invalid-feedback" id="confirmRegisterPasswordError"></div><br>
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" value="Изменить пароль" />
                    <br>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
