<!DOCTYPE html>
<html>
<head>
    <title>JSON Reader</title>
    <meta charset="utf-8" />
</head>
<body>
    <form method="post" action="/Home/FileSave">
        <p>Выберите тип сохраняемого файла
        <select name="FileType">
            <option value="CSV" >CSV</option>
            <option value="JSON">JSON</option>
            <option value="XML">XML</option>
        </select>
        </p>
        <input type="submit" value="Сохранить"/>
    </form>
</body>
</html>