@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>CSV Test <a href="/home/csvtest">HERE</a></p>
    <p>JSON Test <a href="/home/jsontest">HERE</a></p>
    <p>JSON Test 2 <a href="/home/JSON">HERE</a></p>
</div>
