@using Web_CSV_Json_XML_reader.Models
@using Web_CSV_Json_XML_reader.Controllers
@model JSONViewModel;

<!DOCTYPE html>
<html>
<head>
    <title>JSON Reader</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>JSON Viewer</h1>
    <form method="POST" action="/Home/JSONSave">
        <input type="submit" value="Save" />
        <input type="text" name="Name" value="@Model.Name" />
        @Html.Raw(Model.RawHTML)
        <input type="hidden" value="@Model.Data" name="Data" />    
    </form>
</body>
</html>
