@using Web_CSV_Json_XML_reader.Models
@using Web_CSV_Json_XML_reader.Controllers
@model TextInputViewModel;

<!DOCTYPE html>
<html>
<head>
    <title>Text input</title>
    <meta charset="utf-8" />
</head>
<body>
    <form method="post" action="/Home/TextSend">
        <div>
            <select name="type">
                <option selected="true" value="@FileType.CSV">CSV</option>
                <option value="@FileType.JSON">JSON</option>
                <option value="@FileType.XML">XML</option>
            </select>
            <input type="text" name="CSVSeparator"></input>
            <input type="submit"></input>
        </div>
        <div>
            <textarea name="text"></textarea>
        </div>
    </form>
</body>
</html>
