@using Web_CSV_Json_XML_reader.Models
@using Web_CSV_Json_XML_reader.Controllers
@model TextInputViewModel;

<!DOCTYPE html>
<html>
    <style>
        body
        {
            font: 12px Arial;
        }

    </style>

<head>
    <title>Text input</title>
    <meta charset="utf-8" />
</head>
<body>
    <form method="post" action="/Home/TextSend">
        <div class="centered">
            <input class="btn btn-primary" type="submit"></input><br>
        </div>
        <div class="input-group mb-3 centered">
            <input class="form-control" style="width:100%;" placeholder="Введите разделитель при использовании CSV-файлов (по умолчанию ',')" type="text" name="CSVSeparator"></input><br>
        </div>
        <div class="centered">
            <select class="form-select" id="fileType" name="type">
                <option selected="true" value="0">CSV</option>
                <option value="1">JSON</option>
                <option value="2">XML</option>
            </select>
        </div>
        <div class="centered">
            <textarea class="form-control" placeholder="Скопируйте текст файла, либо перетащите файл" style="width:100%; height:400px" id="dropZone" name="text"></textarea>
        </div>
    </form>
</body>
</html>
