@using Web_CSV_Json_XML_reader.Models
@using Web_CSV_Json_XML_reader.Controllers
@model XMLViewModel;

<!DOCTYPE html>
<html>
<head>
    <title>XML Viewer</title>
    <style>
        details {
            margin-left: 10px;
        }

        summary {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <form method="POST" action="/Home/XMLSave">
        <input type="submit" value="Save" />
        <input type="text" name="Name" value="@Model.Name" />
        @Html.Raw(Model.RawHTML)
        <input type="hidden" value="@Model.Data.OuterXml" name="Data" />
    </form>
</body>
</html>